<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.graduate.hospital_manage.mapper.DoctorMapper">

    
    <select id="selectDoctorsWithPos" resultType="map">
        SELECT d.*, dp.name as posName, dt.name as typeName
        FROM doctor d JOIN doctor_position dp ON d.pid = dp.`pid`
                      JOIN doctor_type dt ON d.`tid` = dt.`tid`
        <where>
            <if test="doctor.tid != null">
                d.tid = #{doctor.tid}
            </if>
            <if test="doctor.pid != null">
                and d.pid = #{doctor.pid}
            </if>
            <if test="doctor.name != null">
                and d.name like concat('%', #{doctor.name}, '%')
            </if>
            <if test="doctor.hireDate != null">
                and d.hiredate >= #{doctor.hireDate}
            </if>
            <if test="doctor.isRetire != null">
                and d.is_retire = #{doctor.isRetire}
            </if>
        </where>
    </select>

    <select id="selectPatientsWithDoctorusername" resultType="map">
        SELECT h.`name` as personName, h.`hid`, h.`body_status`,
               h.`emerge_name`, h.`emerge_phone`, h.`wid`, h.`sid`, dt.`name`,
               h.`enroll_time`
        FROM
          doctor d JOIN hospitalized h ON h.`did` = d.`did`
          JOIN `user` u ON u.`fullname` = d.`name`
          JOIN doctor_type dt ON dt.`tid` = d.`tid`
        <where>
            <if test="username != null">
              u.username = #{username}
            </if>
            <if test="isActive != null">
              and h.is_active = #{isActive}
            </if>
        </where>
        ORDER BY h.`enroll_time` DESC
    </select>

    <select id="selectPatientsInActiveWithDoctorusername" resultType="map">
        SELECT h.`name` as personName, h.`hid`, h.`body_status`,
        h.`emerge_name`, h.`emerge_phone`, h.`wid`, h.`sid`, dt.`name`,
        h.`enroll_time`
        FROM
        doctor d JOIN hospitalized h ON h.`did` = d.`did`
        JOIN `user` u ON u.`fullname` = d.`name`
        JOIN doctor_type dt ON dt.`tid` = d.`tid`
        <where>
            h.is_active = 0
            <if test="username != null">
              and u.username = #{username}
            </if>
            <if test="hid != null and hid != ''">
              and h.hid = #{hid}
            </if>
            <if test="startTime != null">
              and h.enroll_time >= #{startTime}
            </if>
            <if test="endTime != null">
              and h.enroll_time &lt;= #{endTime}
            </if>
        </where>
        ORDER BY h.`enroll_time` DESC
    </select>
</mapper>